<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Student Maintenance
            </nb-card-header>
            <nb-card-body>
                <nb-card>
                    <nb-card-body [nbSpinner]="loadingDropdown" nbSpinnerSize="xxlarge" nbSpinnerStatus="success">
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="school" class="col-form-label required">School</label>
                                <div class="input-group">
                                    <select id="school" name="school" class="form-control form-control-sm"
                                        [(ngModel)]="studentSearchData.schoolId"
                                        (change)="onChangeSchoolChange()">
                                        <option value="0">--Select--</option>
                                        <option *ngFor="let school of schoolList" value={{school.id}}>
                                            {{school.schoolName}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <label for="className" class="col-form-label">Class</label>
                                <div class="input-group">
                                    <select id="className" name="className" class="form-control form-control-sm"
                                        [(ngModel)]="studentSearchData.classId" (change)="onChangeClass()">
                                        <option value="0">--Select--</option>
                                        <option *ngFor="let class of classSectionList" value={{class.id}}>
                                            {{class.classAndSectionName}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class='col-sm-2 text-right'>
                                <label for="searchbtn" class="col-form-label empty">*</label>
                                <div class="input-group">
                                    <button nbButton status="primary" id="searchbtn" (click)="onClassEdit()">Search</button>
                                </div>
                            </div>

                            <div class='col-sm-2 text-right' *ngIf="roleService.isGrantedRole(['Admin','PMO']);">
                                <label for="uploadbtn" class="col-form-label empty">*</label>
                                <div class="input-group">                                    
                                    <button nbButton status="primary" id="uploadbtn" (click)="openBulkUploadDialog()">Bulk Upload</button>                                  
                                </div>
                            </div>

                            <div class='col-sm-2 text-right'>
                                <label for="exportbtn" class="col-form-label empty">*</label>
                                <div class="input-group">
                                    <button nbButton status="primary" id="exportbtn"(click)="exportStudents()">Export</button>
                                </div>
                            </div>

                        </div>
                        <div class="row" *ngIf="isSearchDataNotValid">
                            <div class="col-sm-12 pt-2 text-left text-danger">
                                <span>Both fields are mandatory to search students!</span>
                            </div>
                        </div>
                        <div class="row" *ngIf="isBulkUploadRequestNotValid">
                            <div class="col-sm-12 pt-2 text-left text-danger">
                                <span>School is mandatory for bulk upload!</span>
                            </div>
                        </div>
                        <div class="row" *ngIf="isExportNotValid">
                            <div class="col-sm-12 pt-2 text-left text-danger">
                                <span>School is mandatory for export!</span>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>

                <nb-card *ngIf="isSearch">
                    <nb-card-body [nbSpinner]="loadingStudents" nbSpinnerSize="xxlarge" nbSpinnerStatus="success">
                        <div class='row'>
                            <div class='col-sm-9 text-left text-info'>
                                <span>Note: Team can contain minimum 3 and maximum 5 students. Refer team name table for
                                    existing teams</span>
                            </div>
                            <div class='col-sm-3 text-right pb-2'>
                                <span *ngIf="roleService.isGrantedRole(['Admin','PMO']);">
                                    <button nbButton status="primary" id="submitbtn"(click)="onStudentSubmit()">Update Students</button>
                                </span>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-sm-7'>
                                <ng2-smart-table [settings]="tableSetting" [source]="studentSource"
                                    (createConfirm)="onStudentCreate($event)" (editConfirm)="onStudentEdit($event)"
                                    (deleteConfirm)="onStudentDeleteConfirm($event)">
                                </ng2-smart-table>
                            </div>

                            <div class='col-sm-5'>
                                <ng2-smart-table [settings]="teamNameTableSetting" [source]="teamNameTableSource">
                                </ng2-smart-table>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </nb-card-body>
        </nb-card>
    </div>
</div>