<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation">
      <i class="nb-menu"></i>
    </a>
    <div class="logo" (click)="goToHome()">
      <span><img src="../../assets/images/favicon.ico" width="55" height="50"></span>
      <span>Question Build System</span>
    </div>
  </div>
</div>

<div class="header-container">  
  <nb-actions size="medium" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">
    <nb-action class="control-item" icon="ion-log-out" nbTooltip="Logout" nbTooltipPlacement="bottom" nbTooltipStatus="info" (click)="logout()"></nb-action>   
    <nb-action>
      <nb-user [name]="userId" disabled></nb-user>
    </nb-action>    
  </nb-actions>
</div>