<div class="modal-header">
    <span>Performance Data Bulk Upload</span>
    <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body" [nbSpinner]="isSpinner" nbSpinnerSize="xxlarge" nbSpinnerStatus="success">
    <div class="row" *ngIf='isShowSuccessMsg'>
        <div class="col-sm-12">
            <p class="text-success">
                <strong> Performance metric data uploaded successfully !...</strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="input-group">
                        <input type="file" id="uploadFile" name="uploadFile" (change)="handleFileInput($event.target.files)" class="form-control"
                            placeholder="Upload Student Data" />
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6 pt-4">{{fileName}}</div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p *ngIf='isShowErrorMsg' class="text-danger">
                <strong>Please Correct Below Errors:</strong>
            </p>
            <div *ngIf='isShowErrorMsg' class="text-danger">
                {{errorMessage}}
            </div>
            <div *ngIf='isShowErrorMsg && errorMessages != null && errorMessages.length > 0' class="table-responsive">

                <table class="table table-sm table-striped table-bordered table-danger">
                    <thead>
                        <tr>
                            <th rowspan="2" scope="col">Excel Row Id</th>
                            <th rowspan="2" scope="col">Sheet / Value</th>
                            <th rowspan="2" scope="col">Error Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let errorMessage of errorMessages">
                            <td>{{errorMessage.cellNo}}</td>
                            <td>{{errorMessage.value}}</td>
                            <td>{{errorMessage.message}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-md btn-primary" (click)="closeModal()">Cancel</button>
    <button class="btn btn-md btn-primary" [disabled]="isDisableButton" (click)="uploadBulkData()">Upload</button>
</div>